{% extends 'base.html.twig' %}

{% block title %}Baseball Club!{% endblock %}

{% block body %}

    <div class="row">
        <nav class="col s12 crumb-path">
            <div class="nav-wrapper">
                <span class="breadcrumb">Baseball Club!</span>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title">Mobile </span>
                        Download our mobile from the Google App store or Apple Store. (soon wil be released)

                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card s4">
                    <div class="card-content">
                        <span class="card-title">API documentation </span>
                        Go to the API documentation -> <a href="{{ path('nelmio_api_doc_index', {'view': 'x'}) }} "> api documentation </a>

                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card s4">
                    <div class="card-content">
                        <span class="card-title">Administration</span>
                        Manage the club via the web interface -> <a href="#"> Club Administration </a>

                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
