<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>

    {% endblock %}
    <script>
        window.toast = '{{ app.flashes|json_encode|raw }}';
    </script>
</head>
<body>
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% include 'header.html.twig' %}
    {% endif %}
{% endblock %}
</body>
</html>
