{% extends 'base.html.twig' %}

{% block title %}new game - Baseball Club!{% endblock %}

{% block nav_path %}
    <a href="{{ path('default') }}" class="breadcrumb">&nbsp; Baseball Club!</a>
    <span class="breadcrumb">New Game</span>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title">Create New Game </span>
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
